#menu_title{
    color: white;
    margin-top: 25px;
    text-align: center;
    text-shadow: 2px 2px #ff0000;
    border: 2px solid white ;
    border-top: 1px;
    border-bottom: 1px;
    border-left: 3px;
    border-right: 3px;
}
#menu_section{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
 
}
#menu_section2{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
}
.menu_image{
    height:150px;
    width:150px;
    border-radius: 20%;
    border: 5px solid rgb(245, 129, 235);
}